@media (max-width: 578px) {

    /* HEADER */
    header {
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    .nav_links {
        padding-left: 0;
        gap: 10px;
        font-size: 14px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo {
        min-width: 65px;
        height: 65px;
    }

    /* CONTAINER */
    .container {
        flex-direction: column; /*carrinho alinhado*/
        gap: 20px;
        padding: 5vh 7vh;
        flex-direction: column;
    }

    /* CARDS */
    .produtos {
        width: 100%;
    }

    .card {
        flex-direction: column;      
        align-items: center;
        text-align: center;
        padding: 10px;
        height: auto;                 /*altura automatica */
    }

    .card img {
        width: 100%;
        max-width: 250px;            
        border-radius: 10px;
    }

    .info {
        padding: 10px;
        font-size: 18px;
        word-wrap: break-word;
        overflow-wrap: break-word;    /* quebra de texto */
    }

    .info h2 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .info p {
        font-size: 16px;
        line-height: 1.3;
    }

    /* BOTÕES DOS CARDS */
    .btn_add {
        width: 100%;
        font-size: 16px;
        padding: 10px;
        margin-top: 10px;
    }

    /* CARRINHO */
    .carrinho {
        width: 100%;                 
        font-size: 22px;
        padding: 2vh 0vh;
        text-align: center;
        margin-top: 10px;
        padding: 0px 0px;

    }

    .carrinho li {
        font-size: 18px;
    }

    .total {
        font-size: 20px;
        margin-top: 10px;
    }

    .btn_finalizar {
        width: 90%;
        font-size: 16px;
        padding: 10px;
        margin-top: 15px;
    }

    /* FOOTER */
    footer {
        padding: 30px;
    }

    .footer_txt {
        font-size: 18px;
    }

    .social_logo {
        width: 30%;
    }
}
