@media (max-width: 768px) {
/* Todos os estilos da tela de login */
    * {
        margin: 0%;;
        padding: 0%;
    }    
    #login_panel_bg {
        background-color: rgb(236, 206, 168);
        border: none;
        margin: 0vh 0vh;/* Usado apenas para criar um espacamento para simular o header e footer */
        padding: 50% 10%; 
        height: 44vh;
    }
    #caixa_tela_login_bg {
        border-radius: 2vh;
        background-color: rgb(98, 56, 28);
        border: none;
        margin: 0%;
        padding: 6% 0%;
        color: white;
        display: grid;
    }

    /* Texto login & botoes */
    .login_caixa_text {
        padding-bottom: 10%;
        font-size: 50px;
        color: rgba(246, 193, 128, 1);
        text-align: center;
    }
    #entrada, #botao {
        color: rgb(220, 0, 0);
        border-radius: 1vh;
        border-color: rgb(211, 209, 209);
        font-size: 3vh;
        padding-left: 3%;
        margin-bottom: 10px;
    }

    #botao {
        background-color: rgb(255, 74, 74);
        color: white;
        font-size: 3vh; 
    }

    #se-cadastre {
        color: rgba(246, 193, 128, 1);
        text-align: center;
        font-size: 25px;
    }

    span {
        color: red;
    }
}
