footer { 
    padding: 20px 18px; 
    background-color: rgba(88, 66, 47, 1);
    padding: 50px;
    display: flex;
    flex-direction: column; 
    align-items: center;      
}

.footer_txt { 
    font-size: 18px;
    margin-bottom: 8px; 
    text-align: center;
    font-size: 25px;
    color: white;
}

.social_logo { 
    width: 28%;
    max-width: 140px; 
}

.social_logo{
    width: 15%;
}