* {
    margin: 0;
    padding: 0;
}
header{
    background-color: rgba(88, 66, 47, 1);
    padding: 5px 15px;
    display: flex;
    align-items: center;
    color: rgba(246, 193, 128, 1); 
    gap: 12%;
   
}  

.logo_area{
   display: flex;
   align-items: center;
   max-width: 10px;
   gap: 8px;
}


.villa{
    color: rgb(255, 255, 255);
}

.logo {
    background-color: rgba(246, 193, 128, 1);
    min-width: 80px;
    border-radius: 50%;
    height: 10vh;
}
header h1 { 
    font-size: 40px; margin: 0;
}

  /* nav links:*/
.nav_links {
    gap: 10px;
    flex-wrap: wrap;
    display: flex;
  
}

.nav_links h1{
    font-size: 20px;
    margin: 4px 4px;
}

.background {
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.login{
  background-color: rgb(255, 74, 74);
  padding: 5px 5px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
}

a{
    text-decoration: none;
    color: rgba(246, 193, 128, 1);
}

.login:hover{
background: #460d0d;
color: #302401;
}