*{
  margin: 0;
  padding: 0;
}

/* LINHAS DE TITULO */
.line::before, .line::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid rgba(88, 66, 47, 1);
}

#overlay_princp{
    font-size: 50px;
}

#overlay_second{
    font-size: 20px;
}

.nav_links{
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 35%;   
}
.nav_lik{
    color: rgba(246, 193, 128, 1);
    text-decoration: none;  
}
.nav_lik:hover{
    background-color: #cf9e63;
    color: #583f2f;
     border-radius: 5px;
     padding: 10px 15px;     
}

/*bg mid overlay text */
 .background {
    background-image: url('img/vaudevilla_bg_login.jpg');
    background-size: 100% 100%;
    height: 500px; 
    display:flex;
    justify-content: center;
    align-items: center;  
      position: relative;
 }  

.overlay_txt{
  color:rgb(255, 255, 255);
  text-align: center;
  font-weight: bold;    
  position: absolute;
  margin-top: 5%;
        
}

.cardapio{
  background-color: rgb(255, 74, 74);
  padding: 12px 25px;
  border-radius: 10px;
  color:rgb(255, 255, 255);
  text-decoration: none;
  text-shadow: 2px 2px 4px black;
  font-size: 20px;
}

.gradiente_baiano{
    background: linear-gradient(to bottom, #0c0700, rgb(236, 206, 168));
    height: 100px;
}

#container-imagem_bg{
display: flex;
position: relative;
justify-content: center;
}