
.contato {
  background: rgb(236, 206, 168);
}

.titulo_contato {
  color:rgb(98, 56, 28);
  text-align: center;
  font-size: 40px;
  padding-top: 50px;
  
}
.contato-container {
  display: flex;
  gap: 7vh;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 3vh 0 4vh 0; 
}


.mapa {
  width: 55vh;
  height: 28vh;
}

  iframe {
    width: 100%;
    height: 100%;
  }

.form-contato {
  flex: 420px;
  display: flex;
  flex-direction: column;
  max-width: 420px;
  height: 350px; 
  padding: 10px 0;
}
.form_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.form-contato input, .form-contato textarea {
  border: 1px solid #d6d6d6;
  font-size: 14px;
  border-radius: 5px;
}

.btn-enviar {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background-color: #d6453d;
  color: #fff;
  border: none;
  font-size: 25px;
  border-radius: 6px;
  cursor: pointer;
}
.contato-info {
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  color: #674704;
}