.sobre{
    text-align: center;
    padding: 50px 80px;
    background-color: rgb(236, 206, 168);
    line-height: 1.5;
    font-size: 25px;
}

.sobre_txt{
    margin: 0px 200px;
    font-size: 25px;
}
.sobre h2{
    color: rgb(98, 56, 28);
    margin-bottom: 15px;    
}

.line {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 100%;
}